
  <body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/items">Items</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/customers">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employees">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/titles">Titles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departments">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/itemOrders">ItemOrders</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
      <div class="title">
        <h1 class="entity-title">Customers</h1>
      </div>
      <div class="page-content">
        <div class="create-filter">
          <form class="form-section" id="customers-form" action="/customers" method="post">
            <div class="label-section">
              <label for="customerID">Customer ID:</label>
              <input type="number" id="cust-customer-id" name="customerID">
            </div>

            <div class="label-section">
              <label for="firstName">First Name:</label>
              <input type="text" id="cust-first-name" name="firstName">
            </div>

            <div class="label-section">
              <label for="lastName">Last Name:</label>
              <input type="text" id="cust-last-name" name="lastName">
            </div>

            <div class="label-section">
              <label for="email">Email:</label>
              <input type="text" id="cust-email" name="email">
            </div>

            <div class="label-section">
              <label for="areaCode">Area Code:</label>
              <input type="number" id="cust-area-code" name="areaCode">
            </div>

            <div class="label-section">
              <label for="phoneNumber">Phone Number:</label>
              <input type="number" id="cust-phone-number" name="phoneNumber">
            </div>
            
            <div class="label-section">
              <label for="accountStartDate">Account Start Date:</label>
              <input type="date" id="acc-start-date" name="accountStartDate">
            </div>

          </form>

          <div id="modal-backdrop" class="hidden"></div>
          <div id="update-modal" class="hidden">
              <form class="form-section" id="customers-update-form">
                <div class="label-section">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="update-cust-first-name" name="firstName">
                </div>

                <div class="label-section">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="update-cust-last-name" name="lastName">
                </div>

                <div class="label-section">
                    <label for="email">Email:</label>
                    <input type="text" id="update-cust-email" name="email">
                </div>

                <div class="label-section">
                    <label for="areaCode">Area Code:</label>
                    <input type="number" id="update-cust-area-code" name="areaCode">
                </div>

                <div class="label-section">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" id="update-cust-phone-number" name="phoneNumber">
                </div>
            
                <div class="label-section">
                    <label for="accountStartDate">Account Start Date:</label>
                    <input type="date" id="update-acc-start-date" name="accountStartDate">
                </div>

                <input type="submit" value="Submit" id="modal-submit"/>

            </form>
          </div>

          <div class="create-filter-buttons">
            <button type="submit" form="customers-form" onclick="customersAlert()" id="customers-create-button" class="create-button">Create Entry</button>
            <button id="customers-filter-button" class="filter-button">Filter Table</button>
          </div>
        </div>
      </div>
      <div class="table-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Customer ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Area Code</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Account Start Date</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each customers}}
            <tr>
              <th scope="row">{{customerID}}</th>
              <td>{{firstName}}</td>
              <td>{{lastName}}</td>
              <td>{{email}}</td>
              <td>{{areaCode}}</td>
              <td>{{phoneNumber}}</td>
              <td>{{accountStartDate}}</td>
              <td><button onclick="toggleCustomersModal({{customerID}}, '{{firstName}}', '{{lastName}}', '{{email}}', '{{areaCode}}', '{{phoneNumber}}', '{{accountStartDate}}')" id="update-button">Update</button></td>
              <td><button onclick="deleteCustomer({{customerID}})" id="delete-button">Delete</button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </main>
  </body>

