
  <body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/items">Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employees">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/titles">Titles</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/departments">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/itemOrders">ItemOrders</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
      <div class="title">
        <h1 class="entity-title">Departments</h1>
      </div>
      <div class="page-content">
        <div class="create-filter">
          <form class="form-section" id="departments-form" action="/departments" method="post">

            <div class="label-section">
              <label for="departmentNumber">Department Number</label>
              <input type="number" id="dep-department-number" name="departmentNumber">
            </div>

            <div class="label-section">
              <label for="departmentName">Department Name:</label>
              <input type="text" id="departmentName" name="departmentName">
            </div>
          </form>

          <div id="modal-backdrop" class="hidden"></div>
          <div id="update-modal" class="hidden">
              <form class="form-section" id="departments-update-form">
                <div class="label-section">
                    <label for="departmentName">Department Name:</label>
                    <input type="text" id="update-departmentName" name="departmentName">
                </div>

                <input type="submit" value="Submit" id="modal-submit"/>

            </form>
          </div>

          <div class="create-filter-buttons">
            <button type="submit" form="departments-form" onclick="departmentsAlert()" id="departments-create-button" class="create-button">Create Entry</button>
            <button onclick="searchDepartments()" id="departments-filter-button" class="filter-button">Filter Table</button>
          </div>
        </div>
      </div>
      <div class="table-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Department Number</th>
              <th scope="col">Department Name</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each departments}}
            <tr>
              <th scope="row">{{departmentNumber}}</th>
              <td>{{departmentName}}</td>
              <td><button onclick="toggleDepartmentsModal({{departmentNumber}}, '{{departmentName}}')" id="update-button">Update</button></td>
              <td><button onclick="deleteDepartment({{departmentNumber}})" id="delete-button">Delete</button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </main>
  </body>

