
  <body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/items">Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers">Customers</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/employees">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/titles">Titles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departments">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/itemOrders">ItemOrders</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
      <div class="title">
        <h1 class="entity-title">Employees</h1>
      </div>
      <div class="page-content">
        <div class="create-filter">
          <form class="form-section" id="employees-form" action="/employees" method="post">
            <div class="label-section">
              <label for="employeeID">Employee ID:</label>
              <input type="number" id="emp-employee-id" name="employeeID">
            </div>

            <div class="label-section">
              <label for="firstName">First Name:</label>
              <input type="text" id="emp-first-name" name="firstName">
            </div>

            <div class="label-section">
              <label for="lastName">Last Name:</label>
              <input type="text" id="emp-last-name" name="lastName">
            </div>

            <div class="label-section">
              <label for="areaCode">Area Code:</label>
              <input type="number" id="emp-area-code" name="areaCode">
            </div>

            <div class="label-section">
              <label for="phoneNumber">Phone Number:</label>
              <input type="number" id="emp-phone-number" name="phoneNumber">
            </div>

            <div class="label-section">
              <label for="startDate">Start Date:</label>
              <input type="date" id="emp-start-date" name="startDate">
            </div>

            <div class="label-section">
              <label for="email">Email:</label>
              <input type="text" id="emp-email" name="email">
            </div>
            
            <div class="label-section">
              <label for="hoursWorked">Hours Worked:</label>
              <input type="number" step="0.01" id="hours-worked" name="hoursWorked">
            </div>

            <div class="label-section">
              <label for="title">Title:</label>
              <input type="text" id="emp-title" name="title">
            </div>

          </form>

          <div id="modal-backdrop" class="hidden"></div>
          <div id="update-modal" class="hidden">
              <form class="form-section" id="employees-update-form">
                <div class="label-section">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="update-emp-first-name" name="firstName">
                </div>

                <div class="label-section">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="update-emp-last-name" name="lastName">
                </div>

                <div class="label-section">
                    <label for="areaCode">Area Code:</label>
                    <input type="number" id="update-emp-area-code" name="areaCode">
                </div>

                <div class="label-section">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" id="update-emp-phone-number" name="phoneNumber">
                </div>

                <div class="label-section">
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="update-emp-start-date" name="startDate">
                </div>

                <div class="label-section">
                    <label for="email">Email:</label>
                    <input type="text" id="update-emp-email" name="email">
                </div>
            
                <div class="label-section">
                    <label for="hoursWorked">Hours Worked:</label>
                    <input type="number" step="0.01" id="update-hours-worked" name="hoursWorked">
                </div>

                <div class="label-section">
                    <label for="title">Title:</label>
                    <input type="text" id="update-emp-title" name="title">
                </div>

                <input type="submit" value="Submit" id="modal-submit"/>

            </form>
          </div>

          <div class="create-filter-buttons">
            <button type="submit" form="employees-form" onclick="employeesAlert()" id="employees-create-button" class="create-button">Create Entry</button>
            <button onclick="searchEmployees()" id="employees-filter-button" class="filter-button">Filter Table</button>
          </div>
        </div>
      </div>
      <div class="table-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Area Code</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Start Date</th>
              <th scope="col">Email</th>
              <th scope="col">Hours Worked</th>
              <th scope="col">Title</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each employees}}
            <tr>
              <th scope="row">{{employeeID}}</th>
              <td>{{firstName}}</td>
              <td>{{lastName}}</td>
              <td>{{areaCode}}</td>
              <td>{{phoneNumber}}</td>
              <td>{{startDate}}</td>
              <td>{{email}}</td>
              <td>{{hoursWorked}}</td>
              <td>{{title}}</td>
              <td><button onclick="toggleEmployeesModal({{employeeID}}, '{{firstName}}', '{{lastName}}', '{{areaCode}}', '{{phoneNumber}}', '{{startDate}}', '{{email}}', '{{hoursWorked}}', '{{title}}')" id="update-button">Update</button></td>
              <td><button onclick="deleteEmployee({{employeeID}})" id="delete-button">Delete</button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </main>
  </body>

