
  <body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home Page</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/items">Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customers">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employees">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/titles">Titles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departments">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/itemOrders">ItemOrders</a>
              </li>
            </ul>
          </nav>
    </header>
    <main>
        <div class="title">
            <h1 class="entity-title">Items</h1>
        </div>

        <div class="page-content">
          <div class="create-filter">
            <form class="form-section" id="items-form" action="/items" method="post">
              <div class="label-section">
                <label for="itemID">Item ID:</label>
                <input type="number" id="item-item-id" name="itemID">
              </div>
              
              <div class="label-section">
                <label for="itemName">Item Name:</label>
                <input type="text" id="itemName" name="itemName">
              </div>

              <div class="label-section">
                <label for="departmentNumber">Department Number</label>
                <select id="departmentNumber" name="departmentNumber">
                  <option>Any</option>
                  {{#each departments}}
                    <option>{{departmentNumber}}</option>
                  {{/each}}
                </select>
              </div>
              
              <div class="label-section">
                <label for="numberInStock">Number In Stock:</label>
                <input type="number" id="numberInStock" name="numberInStock">
              </div>

              <div class="label-section">
                <label for="optimalStock">Optimal Stock:</label>
                <input type="number" id="optimalStock" name="optimalStock">
              </div>
              
              <div class="label-section">
                <label for="price">Price:</label>
                <input type="number" step="0.01" id="price" name="price">
              </div>
            </form>

            <div id="modal-backdrop" class="hidden"></div>
            <div id="update-modal" class="hidden">
              <form class="form-section" id="items-update-form">
                
                <div class="label-section">
                    <label for="itemName">Item Name:</label>
                    <input type="text" id="update-itemName" name="itemName">
                </div>

                <div class="label-section">
                    <label for="departmentNumber">Department Number</label>
                    <select id="update-departmentNumber" name="departmentNumber">
                        {{#each departments}}
                          <option>{{departmentNumber}}</option>
                        {{/each}}
                    </select>
                </div>
              
                <div class="label-section">
                    <label for="numberInStock">Number In Stock:</label>
                    <input type="number" id="update-numberInStock" name="numberInStock">
                </div>

                <div class="label-section">
                    <label for="optimalStock">Optimal Stock:</label>
                    <input type="number" id="update-optimalStock" name="optimalStock">
                </div>
              
                <div class="label-section">
                    <label for="price">Price:</label>
                    <input type="number" step="0.01" id="update-price" name="price">
                </div>

                <input type="submit" value="Submit" id="modal-submit"/>

              </form>
            </div>

            <div class="create-filter-buttons">
              <button type="submit" form="items-form" onclick="itemsAlert()" id="items-create-button" class="create-button">Create Entry</button>
              <button onclick="searchItems()" id="items-filter-button" class="filter-button">Filter Table</button>
            </div>
          </div>
        </div>
        <div class="table-section">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Item ID</th>
                <th scope="col">Item Name</th>
                <th scope="col">Department Number</th>
                <th scope="col">Number In Stock</th>
                <th scope="col">Optimal Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {{#each items}}
              <tr>
                <th scope="row">{{itemID}}</th>
                <td>{{itemName}}</td>
                <td>{{departmentNumber}}</td>
                <td>{{numberInStock}}</td>
                <td>{{optimalStock}}</td>
                <td>{{price}}</td>
                <td><button onclick="toggleItemsModal({{itemID}}, '{{itemName}}', '{{departmentNumber}}', '{{numberInStock}}', '{{optimalStock}}', '{{price}}')" id="update-button">Update</button></td>
                <td><button onclick="deleteItem({{itemID}})" id="delete-button">Delete</button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
    </main>
  </body>

